header {
    background-color: #D1A255;
}


.cabecalho-imagem{
width: 8%;
}
.cabecalho-imagem2{
    width: 8%;
}
.cabecalho-imagem3{
    width: 8%;
}
.cabecalho-imagem4{
    width: 10%;
}
.cabecalho-imagem5{
    width: 6%;
}
.cabecalho-imagem6{
    width: 7%;
}
.cabecalho-imagem7{
    width: 10%;
}