*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #D1A255;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}


.cabecalho-imagem{
width: 8%;
}
.cabecalho-imagem2{
    width: 8%;
}
.cabecalho-imagem3{
    width: 8%;
}
.cabecalho-imagem4{
    width: 10%;
}
.cabecalho-imagem5{
    width: 6%;
}
.cabecalho-imagem6{
    width: 7%;
}
.cabecalho-imagem7{
    display: inline-block;
    width: 10%;
    margin: 0 16px;
}

.imagem-belos{
    width: 17%;
}

.imagem-belos{
    background-image: linear-gradient(#efe1a6, #efe1a6);
    color: black;
    display: flex;
}

.rodape{
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    height: 70px;
    padding: 12px 0;
  
}
