*{
    margin: 0;
    padding: 0;
}

header {
    background-color: #D1A255;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}


.cabecalho-imagem{
width: 8%;
}
.cabecalho-imagem2{
    width: 8%;
}
.cabecalho-imagem3{
    width: 8%;
}
.cabecalho-imagem4{
    width: 10%;
}
.cabecalho-imagem5{
    width: 6%;
}
.cabecalho-imagem6{
    width: 7%;
}
.cabecalho-imagem7{
    display: inline-block;
    width: 10%;
    margin: 0 16px;
}

.imagem-belos{
    width: 17%;
}

.escola{
    background-image: linear-gradient(#d1a25d, #F4E8B8);
    color: black;
}

